
.navbarcont{
    display: flex;
}
.logo{
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 6px;
}
.contenido{
    width: 100%;
    margin: 0;
}
.arriba{
    background-color: rgb(186, 186, 182);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    padding: 6px;
}

.abajo{
    background-color: #009FE3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding: 9px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: aliceblue;
}
.abajo li:hover{
    border-bottom: whitesmoke solid 1px;
}
.abajo li{
    list-style: none;
    display: flex;

}